*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	list-style-type:none;
}
body{
	background:#d7e1ef !important;
}
a{
	text-decoration:none !important;
	color:#fff !important;
	width:100% !important;
}
.header{
	width:100%;
	background:#2e77b1;
}
.logo{
	padding:5px;
	font-size:24px;	
	color:#fff;
}
.navigation{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.btn{
	padding:8px 12px !important;
	border-radius:16px !important;
	color:#fff !important;
}
.btn:focus{
	box-shadow:none !important;
	outline:none;
	overflow:hidden;
}
.reg-buttons{
	display:flex;
	align-items:center;
	justify-content:flex-end;
	gap:15px;
}
.sign-up i,.log-in i{
	color:white;	
}

/* Form Section*/
.user-registration{
	padding-top:50px;
}
.card{
	max-width:450px;
	margin-left:auto;
	margin-right:auto;
	border-radius:16px !important;
	border:none !important;
	overflow:hidden;
}
.contact-logo{
	background:#2e77b1;
}
.contact-form{
	display:grid !important;
	grid-template-columns: 1fr 3fr;
}
.contact-logo div{
	padding:20px;
}
.contact-logo div i{
	font-size:28px;
	color:#fff;
}

/* Form Part*/
.form-head{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:15px 0;
}
.form-head h2{
	font-size:24px;
	color:#79add3;
	font-weight:600;
}
.form-control{
	outline:none;
	max-width:90% !important;
}
.user-inputs{
	padding:5px;
}
.form-control:focus{
	outline:none !important;
	box-shadow:none !important;
}
.sign{
	padding:8px 10px;
	background:#79add3 !important;
	border-radius:20px !important;
	width:90%;
	outline:none !important;
	color:#fff;
	border:none !important;
}
.sign:hover{
	background:#4481ad !important;
}
.login-form{
	padding:30px 0 !important;
}
.signIn-form{
	padding:5px;
}
.error{
	font-size:12px;
	color:red;
}

/* Home Page*/
.user-details{
	padding-top:30px;
}
.user-options{
	background:#fff;
	padding:5px;
	width:100%;
	display:flex;
	justify-content:flex-end;
}
.users{
	padding-top:25px;
	display:grid;
	grid-template-columns:1fr 4fr;
}
.create-profile{
	width:100%;
	max-width:150px;
	background:#fff;
	padding:10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	gap:14px;
	max-height:250px;
}
.user-img-logo{
	width:70px;
	height:70px;
	background:#d7e1ef;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.user-img-logo i{
	color:black;
	font-size:28px;
}
.user-creation{
	padding:7px 10px !important;
	font-size:12px !important;
	border-radius:20px !important;
	color:#fff !important;
	background:#2e77b1 !important;
}
.template-creation{
	padding:7px 10px !important;
	font-size:12px !important;
	border-radius:20px !important;
	color:#fff !important;
	background:#2e77b1 !important;
}

/* Backend form validation */
.validation-error{
	color:red;
	font-size:12px;
}

/* ADD-EDIT contact */

.add-edit-contact{
	width:100%;
	max-width:550px !important;
	background:#fff !important;
	margin-left:auto;
	margin-right:auto;
	padding:10px !important;
}
.user-btn{
	padding:10px 15px;
	border-radius:16px;
	font-size:16px;
	border:none;
}
.cancel-user-form{
	background:#d8d8e3;
}
.add-details{
	background:#2e77b1 ;
	color:#fff;
}
.user-form-buttons{
	display:flex;
	justify-content:flex-end;
	align-items:center;
	gap:10px;
}
.edit-cont-details{
	color:black !important;
	border:1px solid black;
}

/* Modal*/
.modal-content{
	border:none !important;
}
.modal-body{
	padding:0 !important;
	padding-top:5px !important;
}
.modal-title{
	font-size:24px !important;
}

/* Error container */
.error-container{
	display:flex;
	justify-content:center;
	align-items:center;
}
.table{
	background:#fff !important;
}

/* VIEW */
.view-contact{
	max-width:700px !important;
}
.profile-image{
	padding:10px !important;
	width:100px;
	height:100px;
}
#profile-picture{
	max-width:100%;
	max-height:100%;
}
.cont-info{
	padding-left:5px;
	font-size:18px;
	font-weight:500;
}

/* EDIT */
.edit-details{
	background:#2e77b1 ;
	color:#fff;
	
}
#thumb-close{
	color:red;
	padding:3px;
	font-size:18px;
	border:none;
	background:none;
}

/*  DELETE CONTACT*/

.delete-details{
	background:red;
	color:white;
}

/* Template Data */
.template-btn{
	color:white;
	font-size:14px;
	padding:8px 10px;
	border:none !important;
}
.template-data-btn{
	background:#2e77b1 !important;
}
.plain-template-btn{
	background:#008000 !important;
}
.excel-upload-head{
	color:#2e77b1;
	border-bottom:1px solid #2e77b1;
}
.excel-form-label{
	font-size:14px !important;
	color:#2e77b1 !important;
}
.excel-btns{
	display:flex;
	gap:20px;
}
.excel-form-close{
	background:none !important;
	padding:8px 10px;
	border-radius:16px !important;
	border:1px solid #2e77b1 !important;
	width:45px !important;
	height:35px !important;
	color:#2e77b1 !important;
	
}
.add-excel-file{
	padding:8px 10px !important;
	border-radius:16px !important;
	background:#2e77b1 !important;
	color:#ffff !important;
	border:none !important;
}



/* ERROR DATA */
#error-data li{
	font-size:12px;
	color:red;	
}

/* PRINT */
@media print {
	.no-print,
	.user-creation,
	#template-cont
	{ 
		display: none !important;
	}
	
	.users{
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		gap:50px;
	}
	
	.table{
		width: 100%;
		border-collapse: collapse;
	}

	
	.table th, .table td {
		padding: 10px;
		text-align: left;
	}

	
	
	.table th:nth-child(2),
	.table td:nth-child(2),
	.table th:nth-child(3),
	.table td:nth-child(3),
	.table th:nth-child(4),
	.table td:nth-child(4)
	{
		border: 1px solid black;
	}

	.table th:nth-child(1),
	.table td:nth-child(1),
	.table th:nth-child(5),
	.table td:nth-child(5),
	.btn {
		display: none;
	}

	
	body {
		margin: 1cm;
		padding: 1cm;
	}
}










